<div class="container d-flex flex-row align-center justify-content-center mt-50 gap-10">
    <%= image_tag("manish.jpg", alt: "Manish Mishra", class: "rounded w-50 h-50") %>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Manish Kumar Mishra</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Button</a>
        </div>
    </div>
</div>