<fieldset data-payment-target="additionalFields" data-type="Pay at stay">
  <div class="my-5 block">
    <%= form.check_box :confirmation, class: "input-field" %>
    <%= form.label :confirmation, "I agree to pay the full amount at the stay and understand that I will not be allowed if unpaid" %>
  </div>
</fieldset>